* {
    padding:0px;
    margin:0px;
}

html,body {
    text-align: center;
    font-family: Tahoma,Helvetica,"Microsoft Yahei","微软雅黑",Arial,STHeiti;
}

.line {
    background: url(../../img/reg_hr.png) no-repeat top center;
    height: 20px;
    width: 100%;
    margin: 0 auto;
}

header {
    width:980px;
    height:76px;
    margin: 0 auto;
    position: relative;
}

.header-logo {
    float: left;
    overflow: hidden;
    width: 330px;
    height: 76px;
    padding-top: 5px;
    text-align: left;
}

.header-logo a {
    font-size:18px;
    width: 330px;
    line-height: 76px;
    color: #666;
    text-decoration: none;
}
.header-logo a img {
    vertical-align:middle;
    padding-right: 8px;
}

.header-logo a .logo-s {
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: #999;
    border: none;
    vertical-align:middle;
}

.header-logo a .logo-text {
    display: inline-block;
    vertical-align:middle;
    padding-left: 8px;
}

.header-right {
    float: right;
    overflow: hidden;
    display: block;
    height: 32px;
    color:#666;
    font-size: 12px;
}
